{% schema %}
{
  "name": "Top Picks",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 12,
      "max": 24,
      "unit": "px",
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "top_picks_margin_bottom",
      "label": "Margin Bottom (Top Picks)",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "top_picks_grid_gap",
      "label": "Grid Gap (Top Picks)",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 2
    },
    {
      "type": "number",
      "id": "image_selection_first",
      "label": "Image Array Index for First Banner",
      "default": 0
    },
    {
      "type": "number",
      "id": "image_selection_hover",
      "label": "Image Array Index for Hover",
      "default": 1
    },
    {
      "type": "text",
      "id": "product_name_list",
      "label": "Enter Product Names (comma-separated)",
      "default": "Item 1,Item 2,Item 3"
    },
    {
      "type": "text",
      "id": "image_width",
      "label": "Product Image Width",
      "default": "50px"
    },
     {
      "type": "text",
      "id": "image_height",
      "label": "Product Image Height",
      "default": "50px"
    }
  ],
  "presets": [
    {
      "name": "Top Picks"
    }
  ]
}
{% endschema %}

{% assign product_names_list = section.settings.product_name_list | split: ',' %}
{% assign image_height = section.settings.image_height %}
{% assign image_width = section.settings.image_width %}

<div class="top-picks">
  <div class="product-grid">
    {% for product in collections['top-picks'].products %}
      <img
        src="{{ product.featured_image | image_url }}"

        alt="{{ product.title }}"
      >
      <p class="product-title">{{ product_names_list[forloop.index0] }}</p>
    {% endfor %}
  </div>
</div>

<style>
  .top-picks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:  {{section.settings.top_picks_margin_bottom}}px;;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: {{section.settings.top_picks_grid_gap}}px;
    justify-items: center;
  }

  .product-title {
    font-size: {{section.settings.font_size}}px;
  }
</style>

<script></script>
